[Unit]
Description=d2s docker2ssh service
Documentation=https://code.byted.org/fanyunqian.1/docker2ssh
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/d2s/d2s.env
ExecStart=/usr/local/bin/d2s --config /etc/d2s/config.toml serve
Restart=always
RestartSec=2s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
